body{
    font-family: 'candara';
    color: whitesmoke;
}

h3{
    text-decoration: underline;
}

.header{
    font-size: large;
}

.body{
    background-color: maroon;
}

.portrait{
    border-radius: 10px;
}